*{
    margin: 0px auto;
    margin-bottom: 0px auto;
}

body{
    background-color: #f9f9f9;
    width: calc(100% - 0%);
}

header{
    min-width: calc(100% - 15%);
    text-align: center;
    text-decoration: wavy;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.main-content,
.services,
.dev-service,
.container,
.container-1,
.container-2,
.container-3,
.our-services-container,
.footer_div,
.sub-container {
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
    max-width: calc(100% - 15%);
}

.get_started-button,
#subscribe-button,
.whatsapp-us {
    background-color: mediumpurple;
    color: white;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.e-mail{
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 20%;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.urls{
    background-color: mediumpurple;
    color: white;
    text-align: center;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 95%;
}

.urls a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
}

.urls2{
    width: calc(100% - 20%);
    background-color: white;
    text-align: center;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.urls2 a{
    padding: 4px;
    text-decoration: none;
    color: mediumpurple;
}

.urls2 a:hover{
    color: purple;
}

.other-pages{
    width: calc(100% - 10%);
    background-color: mediumpurple;
    color: white;
    text-align: center;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.other-pages a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: white;
}

.image,
img {
    width: 80%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

html{
    text-align: center;
    scroll-behavior: smooth;
}

/* Responsive */
@media (max-width: 768px) {
    .urls{
        flex-direction: column;
        padding: 15px;
    }
    .get_started-button,
    #subscribe-button,
    .whatsapp-us {
        padding: 12px 20px;
        margin: 15px auto;
    }
}